*
{
    margin: 0;
    padding: 0;
}
header
{
    text-align: center;
    margin-top: 20px;
}
body
{
    margin: 20px;
    background: linear-gradient(0deg, #1100ff 0%, #0bdce0 100%);
}
label
{
    display: block;
}
span{
    color: red;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"]
{
    width: 100%;
    height: 20px;
}
select
{
    width: 100%;
    height: 25px;
}

input[type="submit"]
{
    background-color: chartreuse;
    width: 100%;
    color: red;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
} 

